<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

    <!-- My CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

    <title>Minimisasi DFA - Kelompok 5</title>
</head>

<body id="home">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#opening">Minimisasi DFA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#opening">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aplikasi">Aplikasi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Konten Container -->
    <section id="opening" class="container my-5">
        <div class="row d-flex justify-content-center">
            <!-- Row untuk konten -->
            <div class="col-12 col-lg-6">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='images/Opening.png') }}" alt="Opening"
                        class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Tentang Aplikasi</h5>
                        <p class="card-text">
                            Suatu Deterministic Finite Automata atau DFA dapat diubah bentuknya menjadi DFA Minimize
                            yaitu DFA yang memiliki jumlah states yang paling minimum. Salah satu cara untuk menentukan
                            DFA Minimize, yaitu dengan cara menggunakan Metode Table Filling.
                        </p>
                        <a href="/aplikasi" class="btn btn-primary">Cek ke Aplikasi...</a>
                    </div>
                </div>
                <!--Akhir Container-->

                <!-- About Us -->
                <section id="profil" class="container">
                    <div class="row text-center mb-4">
                        <div class="col">
                            <h2>Profil Kelompok 5</h2>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                        <div class="col mb-3">
                            <div class="card bg-transparent">
                                <img src="{{ url_for('static', filename='images/Ata.jpg') }}"
                                    class="card-img-top img-fluid rounded" alt="Ata">
                                <div class="card-body">
                                    <p class="card-text text-center text-white">Antonius Ata - 2108561080</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card bg-transparent">
                                <img src="{{ url_for('static', filename='images/Yoga.jpg') }}"
                                    class="card-img-top img-fluid rounded" alt="Yoga">
                                <div class="card-body ">
                                    <p class="card-text text-center text-white">I Putu Yoga Laksana Putra - 2108561120
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card bg-transparent">
                                <img src="{{ url_for('static', filename='images/Widyantara.jpg') }}"
                                    class="card-img-down img-fluid rounded" alt="Widyantara">
                                <div class="card-body">
                                    <p class="card-text text-center text-white">Putu Widyantara Artanta Wibawa -
                                        2108561005</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card bg-transparent">
                                <img src="{{ url_for('static', filename='images/Kevin.jpg') }}"
                                    class="card-img-top img-fluid rounded" alt="Kevin">
                                <div class="card-body">
                                    <p class="card-text text-center text-white">Kevin Moses Waleleng - 2108561100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- Akhir About -->
    <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>

</body>

</html>